<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Ofrecer Ruta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-list>
      <!-- Campo para la dirección de origen -->
      <ion-item>
        <ion-label position="stacked">Origen</ion-label>
        <ion-input type="text" placeholder="Ingresa la dirección de origen"></ion-input>
      </ion-item>

      <!-- Campo para la dirección de destino -->
      <ion-item>
        <ion-label position="stacked">Destino</ion-label>
        <ion-input type="text" placeholder="Ingresa la dirección de destino"></ion-input>
      </ion-item>

      <!-- Campo para la fecha de salida -->
      <ion-item>
        <ion-label position="stacked">Fecha de salida</ion-label>
        <ion-datetime displayFormat="DD MMM YYYY"></ion-datetime>
      </ion-item>

      <!-- Campo para la hora de salida -->
      <ion-item>
        <ion-label position="stacked">Hora de salida</ion-label>
        <ion-datetime displayFormat="HH:mm" pickerFormat="HH:mm"></ion-datetime>
      </ion-item>

      <!-- Botón para ofrecer ruta (no funcional) -->
      <ion-item lines="none">
        <ion-button expand="block" type="button">Ofrecer Ruta</ion-button>
      </ion-item>
    </ion-list>
  </form>
  <ion-button [routerLink]="['/inicio-conductor']">volver a pagina anterior</ion-button>
</ion-content>
