<ion-header>
  <ion-toolbar>
    <ion-title>Rutas de Pasajeros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Rutas Disponibles</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item *ngFor="let ruta of rutas">
                <ion-label>
                  <h2><strong>Hora de Partida:</strong> {{ ruta.horaPartida }}</h2>
                  <p><strong>Destino:</strong> {{ ruta.destino }}</p>
                  <p><strong>Nombre del Pasajero:</strong> {{ ruta.nombrePasajero }}</p>
                  <p><strong>RUT:</strong> {{ ruta.rut }}</p>
                  <p><strong>Punto de Encuentro:</strong> {{ ruta.puntoEncuentro }}</p>
                  <p><strong>Contacto:</strong> {{ ruta.contacto }}</p>
                </ion-label>
                <ion-button (click)="VerDetalleRuta()">detalles </ion-button>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
