/* Importación de fuentes */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

/* BARRA SUPERIOR */
ion-toolbar {
  --background: #9CAFAA; /* Color de fondo de la barra de herramientas */
}

.title {
  font-family: 'Pacifico', cursive; /* Fuente Pacifico aplicada */
  color: #fff; /* Color del texto */
  font-size: 40px; /* Tamaño del texto */
  margin-left: 10px; /* Espaciado a la izquierda */
}

.header {
display: flex;
  align-items: center; /* Alinea verticalmente el logo y el título */
}

.logo-container {
  width: 50px; /* Establece el tamaño del contenedor */
height: 50px;
  border-radius: 20%; /* Redondea el contenedor */
  overflow: hidden; /* Asegura que la imagen no se salga del contenedor */
  margin-left: 10px; /* Espaciado a la izquierda */
}

.logo {
  width: 100%; /* Ajusta la imagen al tamaño del contenedor */
  height: 100%; /* Mantiene la proporción dentro del contenedor */
  object-fit: cover; /* Cubre el contenedor manteniendo la proporción de la imagen */
}

/* CONTENEDOR PRINCIPAL */
.login-container {
  background-color: #FBF3D5; /* Color de fondo */
  padding: 20px; /* Espaciado alrededor del contenido */
}

/* CONTENIDO DEL PERFIL */
.profile-item {
  align-items: center; /* Alinea verticalmente el contenido */
--padding-start: 0;
--inner-padding-end: 0;
}

.profile-avatar {
    width: 20vw; /* La imagen ocupará el 20% del ancho de la pantalla */
    max-width: 150px; /* Máximo ancho para evitar que crezca demasiado en pantallas grandes */
    height: auto; /* Altura automática para mantener la proporción */
    margin-right: 16px; /* Espaciado entre la imagen y el texto */
    overflow: hidden; /* Evitar que la imagen se salga del contenedor */
    border-radius: 0; /* Mantener bordes rectos */
}

.profile-avatar img {
    width: 100%; /* La imagen ocupará el 100% del contenedor */
    height: auto; /* Altura automática para mantener la proporción */
    object-fit: cover; /* Asegura que la imagen cubra el contenedor sin deformarse */
    border-radius: 0; /* Mantener bordes rectos */
    padding: 8px; /* Espaciado alrededor del contenido */
}


ion-label h2 {
font-family: 'Yusei Magic', sans-serif;
  font-size: 1.5rem; /* Tamaño del nombre */
font-weight: 500;
  color: #666; /* Color del texto del nombre */

}

ion-label p {
font-family: 'Yusei Magic', sans-serif;
  font-size: 1rem; /* Tamaño de la descripción */
font-weight: 400;
  color: #666; /* Color del texto de la descripción */
padding: 4px; 
}

/* BOTONES */
ion-button {
  --background: #EFBC9B; /* Color de fondo del botón */
  --color: #fff; /* Color del texto en el botón */
  font-family: 'Yusei Magic', sans-serif; /* Aplica la fuente Yusei Magic */
  font-size: 18px; /* Tamaño de la fuente en los botones */
}
