<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap" rel="stylesheet">

<ion-header>
  <ion-toolbar>
    <div class="header">
      <div class="logo-container">
        <ion-img src="../assets/img/logo.jpg" class="logo"></ion-img>
      </div>
      <h1 class="title">Te llevo</h1>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding login-container">
    <h1>Bienvenido, {{ nombreUsuario }}!</h1>
    <p>Tu correo es {{ emailUsuario }}</p>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
      </ion-col>
    </ion-row>
    <div class="login-container">
    <ion-row>
      <ion-col size="6">
        <ion-card button routerLink="/perfil">
          <ion-card-header>
            <ion-card-title>Perfil</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-icon name="person-circle-outline" size="large"></ion-icon>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card button routerLink="/historial-pasajero">
          <ion-card-header>
            <ion-card-title>Historial</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-icon name="list" size="large"></ion-icon>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card button routerLink="/ajustes">
          <ion-card-header>
            <ion-card-title>Ajustes</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-icon name="settings-outline" size="large"></ion-icon>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card button routerLink="/buscar-auto">
          <ion-card-header>
            <ion-card-title>Rutas</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-icon name="car" size="large"></ion-icon>
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
    </div>
  </ion-grid>





</ion-content>

