<ion-header>
  <ion-toolbar>
    <div class="header">
      <div class="logo-container">
      </div>
      <h1 class="title">Te llevo</h1>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>Esta información se mostrará al conductor cuando solicites viaje:</h1>
  <div class="login-container">
    <ion-item class="profile-item">
      <img [src]="usuarioImagen" alt="Foto de Perfil" *ngIf="usuarioImagen" />
      <ion-label>
        <h2>Malcolm</h2> <!-- Cambia esto si quieres mostrar el nombre del usuario -->
        <p><strong>Descripción:</strong> {{ descripcion }}</p>
      </ion-label>
    </ion-item>
  </div>

  <ion-button expand="block" [routerLink]="['/login']">
    Cerrar sesión
  </ion-button>
</ion-content>
