<ion-header>
  <ion-toolbar>
    <ion-title>Inicio Pasajero</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="index"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <!-- Sección de perfil del pasajero -->
  <ion-card class="profile-card">
    <ion-item>
      <ion-avatar slot="start">
        <img src="../assets/img/pasajero.jpg" alt="Foto del pasajero">
      </ion-avatar>
      
      <ion-label>
        <h2>María López</h2>
        <p>Pasajero desde 2021</p>
      </ion-label>
    </ion-item>
  </ion-card>


  <!-- Botones de acción principales -->
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="block" color="success" [routerLink]="['/ofrecer-viaje']">
Ofrecer Viaje        </ion-button>
      </ion-col>

    </ion-row>
  </ion-grid>
  <app-mostrar-destino-ofrecido></app-mostrar-destino-ofrecido>

</ion-content>
