<ion-header>
  <ion-toolbar>
    <ion-title>
      Bienvenido, Pasajero
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Sección del mapa -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Tu Ubicación</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- Imagen de mapa de ejemplo -->
      <ion-img src="assets/img/Home/MapsFake.png" alt="mapa"></ion-img>
    </ion-card-content>
  </ion-card>
  
  <!-- Contenedor para los botones -->
  <div class="button-container">
    <ion-button class="square-button" (click)="irAConductor()" >Conductor</ion-button>
    <ion-button class="square-button" (click)="irAPasajero()">Pasajero</ion-button>
  </div>
</ion-content>
