<ion-header>
  <ion-toolbar>
    <ion-title>
      <h1>Bienvenido, {{ nombreUsuario }}</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Sección del mapa -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Tu Ubicación</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- Componente del mapa -->
      <app-mapa></app-mapa>

      <!-- Muestra la dirección aquí -->
      <div *ngIf="address" class="address-container">
        <strong>Dirección:</strong> {{ address }}
      </div>
    </ion-card-content>
  </ion-card>
  
  <!-- Contenedor para los botones -->
  <div class="button-container">
    <ion-button class="square-button" (click)="irAConductor()">Conductor</ion-button>
    <ion-button class="square-button" (click)="irAPasajero()">Pasajero</ion-button>
  </div>
</ion-content>
