/* Contenedor para los botones */
.button-container {
  display: flex; /* Usar flexbox */
  justify-content: center; /* Centrar los botones horizontalmente */
  margin: 20px 0; /* Margen superior e inferior */
}

/* Estilo para los botones cuadrados */
.square-button {
  height: 150px; /* Altura del botón */
  width: 160px; /* Anchura del botón */
  display: flex; /* Usar flexbox para centrar el texto */
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  font-size: 20px; /* Tamaño de la fuente */
  border-radius: 10px; /* Bordes redondeados */
  --background: #ff00d4; /* Color de fondo del botón */
  --color: white; /* Color del texto del botón */
  margin: 0 10px; /* Margen entre los botones */
}

/* Cambiar el color de fondo al pasar el mouse sobre los botones */
.square-button:hover {
  --background: #0056b3; /* Color de fondo al pasar el mouse */
}
