<ion-card>
  <ion-card-content>
    <div class="viaje-resumen">
      <ion-label class="resumen">
        <h2 *ngIf="!viajeOfrecido">Ningún viaje ofrecido</h2>
        <div *ngIf="viajeOfrecido">
          <h3>Origen: {{ viaje.origen }}</h3>
          <h3>Destino: {{ viaje.destino }}</h3>
          <h3>Fecha: {{ viaje.fechaSalida | date:'mediumDate' }}</h3>
          <h3>Hora: {{ viaje.horaSalida | date:'shortTime' }}</h3>
        </div>
      </ion-label>
      <ion-button *ngIf="viajeOfrecido" fill="outline" slot="end" (click)="verDetallesRuta()">
        Ver detalles de ruta
      </ion-button>
    </div>
  </ion-card-content>
</ion-card>
